.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  padding: 20px 0;}

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-family: $font-logo;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    transition: color $transition;

    &--blue {
      color: $main-color;
    }

    &:hover,
    &:focus {
      color: $main-color;
    }
  }