$main-color: #2196f3;
$dark-color: #2f303a;
$text-color: #212121;
$gray-color: #757575;
$light-bg: #f5f5f9;
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);